{% extends 'templates/default.twig' %}

{% block title %} Reporting App {% endblock %}

{% block headContent %}
    Edit Item <i style="color:green" class="fa  fa-pencil-square"></i>
{% endblock %}

{% block content %}

<div class="box box-info" style="margin-top:30px">
    <div class="panel panel-default">
        <div class="panel panel-heading"><h3 class="panel-title"><strong>Edit Item</strong></h3></div>
            <div class="panel-body">
                <form  action="{{path_for('item.update.post', {('id'): item.id })}}" method="post">
                    {% if errors %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">x</a> Please fill out the form
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-7">
                            <div class="form-group {{ errors.group_id ? 'has-error' : '' }}">
                                <label for="group_id">Group</label>
                                <select class="form-control" name="group_id" >
                                    <option value="">Select Group</option>
                                    {% for data in group %}
                                        <option value="{{ data.id }}"{% if item.group_id == data.id %} selected="selected"{% endif %}>{{ data.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.group_id %}
                                    <span class="help-block">{{ errors.group_id | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-5">
                            <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                                <label for="name">Name</label>
                                <input type="text" name="name" class="form-control"  value="{{ item.name}}">
                                {% if errors.name %}
                                    <span class="help-block">{{ errors.name | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-7">
                            <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                                <label for="description">Description</label>
                                <input type="text" name="description" class="form-control"  value="{{ item.description}}">
                                {% if errors.description %}
                                    <span class="help-block">{{ errors.description | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5">
                            <div class="form-group {{ errors.recurrent ? 'has-error' : '' }}">
                                <label for="recurrent">Recurrent</label>
                                <select class="form-control" name="recurrent" value="">
                                    <option value="">Select Recurrent</option>
                                    <option value="{{ item.recurrent }}" {% if item.recurrent != empty %} selected="selected" {% endif %}>{{ item.recurrent }}</option>
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monhtly">Monthly</option>
                                    <option value="yearly">Yearly</option>
                                </select>
                                {% if errors.recurrent %}
                                    <span class="help-block">{{ errors.recurrent | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-7">
                            <div class="form-group {{ errors.start_date ? 'has-error' : '' }}">
                                <label for="start_date">Start date</label>
                                <input type="text" name="start_date" class="form-control"  value="{{ item.start_date}}">
                                {% if errors.start_date %}
                                    <span class="help-block">{{ errors.start_date | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5">
                            <div class="form-group {{ errors.end_date ? 'has-error' : '' }}">
                                <label for="end_date">End date</label>
                                <input type="text" name="end_date" class="form-control"  value="{{ item.end_date}}">
                                {% if errors.end_date %}
                                    <span class="help-block">{{ errors.end_date | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <center><button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> UPDATE </button></center>
                    <hr style="margin-top:10px;margin-bottom:10px;">

                </form>

            </div>

    </div>

</div>

{% endblock %}
