{% extends 'templates/default.twig' %}

{% block title %} Reporting App {% endblock %}

{% block headContent %}
        Trash  <i style="color:green" class="fa fa-trash-o"></i>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ path_for('item.trash') }}" method="post">

                    <table id="example2" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>Group</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Recurrent</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.groups }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.recurrent }}</td>
                                <td>{{ item.start_date }}</td>
                                <td>{{ item.end_date }}</td>
                                <td>
                                    <a href="{{ path_for('item.delete', {('id'): item.id})}}"
                                     title="Remove item" style="color:red" data-toggle="tooltip"
                                      data-placement="top"><i class="fa fa-trash-o"></i></a>
                                    <a href="{{ path_for('item.restore', {('id'): item.id})}}"
                                     title="Restore item"  data-toggle="tooltip" data-placement="top">
                                     <i class="fa fa-refresh"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                    </table>
                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}
