{% extends 'templates/default.twig' %}

{% block title %} Article | Add {% endblock %}

{% block headContent %} 
	<i class="fa fa-plus" aria-hidden="true"></i> Add Article 
{% endblock %}

{% block content %}

 <div class="box box-primary">
        <form method="post" autocomplete="off" action="{{ path_for('article-add') }}" enctype="multipart/form-data">
            <div class="box-body">
                <div class="form-group {{ errors.title ? 'has-error': '' }}">
                    <input type="text" name="title" class="form-control" placeholder="Title">
                    {% if errors.title %}
                        <span class="help-block">{{ errors.title|first }}</span>
                    {% endif %}
                </div>
                <div class="form-group {{ errors.content ? 'has-error': '' }}">
                    <textarea name="content" class="form-control" placeholder="Content" rows="10"></textarea>
                    {% if errors.content %}
                        <span class="help-block">{{ errors.content|first }}</span>
                    {% endif %}
                </div>
				<div class="form-group {{ errors.image ? 'has-error' : '' }}">
					<label for="image">Image</label>
					<input type="file" name="image" id="image" class="form-control">
					{% if errors.image %}
					<span class="help-block">{{errors.image | first}}</span>
					{% endif %}
				</div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary center-block"><i class="fa fa-reply"></i> Submit</button>
            </div>
        </form>
    </div>

{% endblock %}