{% extends 'templates/default.twig' %}

{% block title %} Article | List In - Active {% endblock %}

{% block headContent %} 
	<i class="fa fa-list" aria-hidden="true"></i> In-Active Article 
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<form action="{{ path_for('article-del') }}" method="POST">
					<table id="example2" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th style="width: 40px">Delete</th>
								<th>Image</th>
								<th>Title</th>
								<th>Content</th>
								<th style="width: 40px">Restore</th>
							</tr>
						</thead>
						{% for article in article %}
						<tr>
							<td class="text-center"><input type="checkbox" name="article[]" value="{{ article.id }}"></td>
							<td><img src="{{ base_url() }}/assets/images/{{ article.image }}" width="100" height="100"></td>
							<td>{{ article.title }}</td>
							<td>{{ article.content|slice(0, 200) }}</td>
							<td class="text-center"><a href="{{ path_for('article-restore', { ('id'):article.id }) }}"><i class="fa fa-refresh"></i></a></td>
						</tr>
						{% endfor %}
					</table>
					<hr style="margin-top:10px;margin-bottom:10px;" >
				</div>
				<div class="panel-body" align="right">
					<button type="submit" name="active"  class="btn btn-danger"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete permanent</button>
					<hr style="margin-top:10px;margin-bottom:10px;" >
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}