{% extends 'templates/default.twig' %}

{% block title %} Timeline | Read {% endblock %}

{% block headContent %} 
<!-- <i class="fa fa-eye" aria-hidden="true"></i> Article - Read  -->
{% endblock %}

{% block content %}

{% for article in article %}
    <div class="container">
		<div class="col-md-8 col-md-offset-1">
			<div class="card">
			  <img class="card-img-top" src="{{ base_url() }}/assets/images/{{ article.image }}" width="200" height="200"  alt="Lights" style="width:100%" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="media-heading"><a href="{{ path_for('article-read', { id:article.id }) }}">{{ article.title }}</a></h4>
				<p class="fa fa-calendar"> {{ article.created_at|date('d/m/Y') }} </p>
				<p class="fa fa-clock-o"> {{ article.created_at|date("H:m") }} </p>
				<p> {{ article.content }} </p>
			  </div>
			</div>
		</div>
	</div>
	<br>
{% endfor %}

{% endblock %}