{% block content %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register And Login</title>
    <link rel="shortcut icon" href="(http://app.unbounce.com/favicon.ico)"/>
    <link href="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/glowing-purple-neon-icons-social-media-logos/114150-glowing-purple-neon-icon-social-media-logos-picasa.png" rel="shortcut icon" type="image/x-icon" />
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">


<script src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/_all-skins.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

    </head>

    <body style="background:url('http://www.myalivechurch.org/wp-content/uploads/2015/05/background_blue_v0011.jpg')">

        {% include 'templates/partials/flash.twig' %}

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong></strong> Login &amp; Register Forms</h1>
                            <!-- <div class="description">
                                <p>
                                    This is a free responsive <strong>"login and register forms"</strong> template made with Bootstrap.
                                    Download it on <a href="http://azmind.com" target="_blank"><strong>AZMIND</strong></a>,
                                    customize and use it as you like!
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">

                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3 style="color:white">Login to our site</h3>
                                        <p style="color:white">Enter username and password to log on:</p>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="form-bottom">
                                    <form role="form" action="{{path_for('login')}}" method="post" class="login-form">
                                        <div class="form-group">
                                         <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <label class="sr-only" for="form-username">Username</label>
                                            <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                            <label class="sr-only" for="form-password">Password</label>
                                            <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <div class="input-group">
                                            <label class="radio-inline"><input type="radio" name="optlogin" value="user" checked> User</label>
                                            <label class="radio-inline"><input type="radio" name="optlogin" value="guard"> Guardian</label>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-social-button btn-yahoo"><i class="fa fa-login"></i>Sign in!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                            <!-- <div class="social-login">
                                <h4 style="color:white">...or login with:</h4>
                                <br />
                                <div class="social-login-buttons">
                                   <button class="btn btn-social-button btn-facebook"><a class="btn btn-link-2" href="#">
                                        <i class="fa fa-facebook"></i> Facebook
                                    </a></button>

                                    <button class="btn btn-social-login btn-twitter"><a class="btn btn-link-2" href="#">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a></button>

                                    <button class="btn btn-social-login btn-google"><a class="btn btn-link-2" href="#">
                                        <i class="fa fa-google-plus"></i> Google Plus
                                    </a>
                                </div>
                            </div> -->

                        </div>

                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>

                        <div class="col-sm-5">

                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3 style="color:white">Sign up now</h3>
                                    <p style="color:white">Fill in the form below to get instant access:</p>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="{{path_for('register')}}" method="post" class="registration-form">
                                    <div class="form-group  {{ errors.username ? 'has-error' : '' }}">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <input type="text" name="username" placeholder="Username..." value="{{ old.username}}" class="form-first-name form-control" id="form-first-name">
                                        </div>
                                    {% if errors.username %}
                                        <span class="help-block">
                                            {{errors.username | first}}</span>
                                    {% endif %}
                                    </div>

                                    <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        <input type="text" name="name" placeholder="Name..." value="{{ old.name }}" class="form-last-name form-control" id="form-last-name">
                                        </div>
                                    {% if errors.name %}
                                        <span class="help-block">
                                            {{errors.name | first}}</span>
                                    {% endif %}
                                    </div>

                                    <div class="form-group {{ errors.email ? 'has-error' : '' }}">
                                         <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        <input type="email" name="email" placeholder="Email..." value="{{old.email}}" class="form-email form-control" id="form-email">
                                        </div>
                                    {% if errors.email %}
                                        <span class="help-block">
                                            {{errors.email | first}}</span>
                                    {% endif %}
                                    </div>

                                   <div class="form-group {{ errors.password ? 'has-error' : '' }}">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    <input type="password" name="password" placeholder="Password..." value="{{ old.password }}" class="form-last-name form-control" id="form-last-name">
                                    </div>
                                {% if errors.password %}
                                    <span class="help-block">
                                        {{errors.password | first}}</span>
                                {% endif %}
                                </div>

                                     <div class="form-group">
                                         <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-transgender-alt"></i>
                                            </div>
                                     <select name="gender" class="form-control" id="">
                                        <option value="">Select Gender</option>
                                        <option value="Laki-laki" {% if  old.gender == 'Laki-laki' %}
                                         selected="selected"{% endif %}>Laki-Laki</option>
                                        <option value="Perempuan" {% if  old.gender == 'Perempuan' %}
                                         selected="selected"{% endif %}>Perempuan</option>
                                    </select>
                                        </div>
                                    </div>

                                    <div class="form-group { errors.phone ? 'has-error' : '' }}">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                         <input type="text" class="form-control input-medium bfh-phone" data-format="+62 (ddd) ddd-ddd-ddd" name="phone" value="{{old.phone}}" placeholder=" Phone Number...">
                                        </div>
                                    {% if errors.phone %}
                                        <span class="help-block">
                                            {{errors.phone | first}}</span>
                                    {% endif %}
                                    </div>

                                    <button type="submit" class="btn btn-social-button btn-yahoo">Sign me up!</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/demo.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
</body>
</html>
{% endblock %}
