{% extends 'templates/default.twig' %}

{% block title %} Reporting App {% endblock %}

{% block headContent %}
        Item to Report  <i style="color:green" class="fa fa-list-alt"></i>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% for item in items %}
                    <form action="{{ path_for('user.item.status', { ('id'): item.id })}}" method="get">
                {% endfor %}
                    <table id="" class="example2 table table-condensed table-bordered table-striped"
                            width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Status</th>
                                <th>Name</th>
                                <th>Description</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td class="text-center">
                                    <input class="custom-control-input" id="checkbox"
                                      type="checkbox"  onclick="this.form.submit();">
                                </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" style="padding-bottom: 10px;">

        {% if reported == NULL %}
        <a href="{{ base_url() }}/user/group/{{ group_id }}/item?reported=1"
         class="btn-clear discard-answer dno">
            <button class="btn btn-primary" type="button">
                Show Reported Item <span class="badge">{{ count }}</span>
            </button></a>

            {% elseif reported == 1 %}
            <a href="{{ base_url() }}/user/group/{{ group_id }}/item" class="btn-clear discard-answer dno">
                <button class="btn btn-primary active" type="button">
                    Hide Reported Item
                </button></a></a>
            {% endif %}
                <a href="{{ path_for('user.item.all') }}" class="btn-clear discard-answer dno">
                    <button class="btn btn-success " type="button">
                         <i class="fa fa-plus-circle"></i>   Add Item
                    </button>
                </a>


    </div>
</div>


{% if reported == 1 %}
<div class="" style="font-size:25px">
        Item Reported <i style="color:green" class="fa fa-check-square-o"></i>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                </div>
                    {% for item in itemdone %}
                    <form action="{{ path_for('user.item.reset.status', {('id'): item.id })}}" method="get">
                    {% endfor %}
                        <table id="" class="example2 table table-condensed table-bordered table-striped"
                            width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Status</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th class="text-center">Reported at</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in itemdone %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" checked onclick="this.form.submit();">
                                    </td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.description }}</td>
                                    <td class="text-center">{{ item.reported_at }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
<!-- </div> -->

{% endblock %}
